IslandsDEMv1.0_2x2m_zmasl_isn2016_40.tif
IslandsDEMv1.0_2x2m_zmasl_isn2016_41.tif
IslandsDEMv1.0_2x2m_zmasl_isn2016_52.tif
IslandsDEMv1.0_2x2m_zmasl_isn2016_51.tif
IslandsDEMv1.0_2x2m_isn2016_shade_41.tif
